@use '../../scss/mixins/animations' as animations;

$sizes: (
  'xs': 0.75rem,
  'sm': 1rem,
  'md': 1.5rem,
  'lg': 2rem,
  'xl': 3rem
);

// TODO: move this map to _variables.scss
$colors: (
  'primary': var(--color-primary),
  'secondary': var(--color-secondary),
  'warning': var(--color-warning),
  'info': var(--color-info),
  'success': var(--color-success),
  'danger': var(--color-danger),
  'black': var(--color-black),
  'white': var(--color-white),
);

@include animations.spin;

.spinner {
  display: inline-block;
  animation: spin 0.5s infinite linear;
  border: 2px solid currentColor;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;

  @each $name, $value in $sizes {
    &-#{$name} {
      width: $value;
      height: $value;
    }
  }

  @each $name, $value in $colors {
    &-color-#{$name} {
      color: $value;
    }
  }
}
