.spinner {
  animation: spin 0.5s infinite linear;
  border: 2px solid var(--color-gray-300);
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  width: 1em;
  height: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
