**/node_modules/
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.git
**/.gitignore
**/.vscode
**/.editorconfig
**/.eslintrc
**/.prettierrc
**/dist
**/lib
**/README.md
**/LICENSE
**/tsconfig.tsbuildinfo
.env*
