{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb-typescript",
    "airbnb/hooks",
    // "plugin:jest/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "eslint-plugin-react-hooks",
    "@typescript-eslint/eslint-plugin",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-use-before-define": ["error"],
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/react-in-jsx-scope": "off",
    "react/button-has-type": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "packages/**/*.stories.*"]
      }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": [
          "./packages/database/",
          "./packages/admin-app/",
          "./packages/client-app/",
          "./packages/scraper/"
        ]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
