@use 'sass:map';
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/variables' as *;

$sizes: (
  'xs': (
    'height': var(--size-xs),
    'padding': 0 var(--space-2),
    'font-size': var(--font-size-xs)
  ),
  'sm': (
    'height': var(--size-sm),
    'padding': 0 var(--space-3),
    'font-size': var(--font-size-sm)
  ),
  'md': (
    'height': var(--size-md),
    'padding': 0 var(--space-4),
    'font-size': var(--font-size-md)
  ),
  'lg': (
    'height': var(--size-lg),
    'padding': 0 var(--space-6),
    'font-size': var(--font-size-lg)
  ),
  'xl': (
    'height': var(--size-xl),
    'padding': 0 var(--space-7),
    'font-size': var(--font-size-xl)
  )
);

.button {
  align-items: center;
  appearance: none;
  border: 1px solid;
  border-radius: var(--border-radius-md);
  color: currentColor;
  display: inline-flex;
  font-size: map.get($sizes, 'md', 'font-size');
  font-weight: var(--font-weight-semibold);
  height: map.get($sizes, 'md', 'height');
  justify-content: center;
  padding: map.get($sizes, 'md', 'padding');
  position: relative;
  transition-duration: var(--transition-duration-normal);
  transition-property: color, background-color, border-color, box-shadow;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  @include hover {
    background-color: var(--color-gray-200);
  }

  @include active {
    background-color: var(--color-gray-300);
  }

  &:focus {
    box-shadow: var(--shadow-outline);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &-full-width {
    width: 100%;
  }

  &-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    &:first-child {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-left: 0.5rem;
    }
  }

  /* Variants with no color */
  &-outlined {
    border-color: var(--color-gray-300);
  }

  &-solid {
    background-color: var(--color-gray-300);
    border-color: transparent;

    @include hover {
      background-color: var(--color-gray-400);
    }

    @include active {
      background-color: var(--color-gray-500);
    }
  }

  &-text {
    border-color: transparent;
  }

  svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
}

/* Variants with color */
@each $name, $value in $colors {
  .button-#{$name} {
    color: $value;

    &.button-solid {
      background-color: $value;
      color: var(--color-white);

      @include hover {
        background-color: var(--color-#{$name}-dark);
      }

      @include active {
        background-color: var(--color-#{$name}-darker);
      }
    }

    &.button-outlined {
      border-color: $value;

      @include hover {
        background-color: $value;
        color: var(--color-white);
      }

      @include active {
        background-color: var(--color-#{$name}-darker);
        border-color: var(--color-#{$name}-darker);
      }
    }
  }
}

/* Sizes */
@each $name, $value in $sizes {
  .button-#{$name} {
    font-size: map.get($value, 'font-size');
    height: map.get($value, 'height');
    min-width: map.get($value, 'height');
    padding: map.get($value, 'padding');
  }
}
