.stack {
  display: flex;

  &-row {
    align-items: center;
    flex-direction: row;

    > *:not(:first-child) {
      margin-left: var(--space-3);
    }
  }

  &-column {
    flex-direction: column;

    > *:not(:first-child) {
      margin-top: var(--space-3);
    }
  }
}
