@use 'sass:map';
@use './variables' as *;

@mixin hover {
  &:not(:disabled):hover {
    @content;
  }
}

@mixin active {
  &:not(:disabled):active {
    @content;
  }
}

@mixin breakpoint($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @media only screen and (min-width: $value) {
    @content;
  }
}

@mixin clamp($line-clamp) {
  /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
}
