$breakpoints: (
  'xs': 0px,
  'sm': 600px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

$colors: (
  'primary': var(--color-primary),
  'secondary': var(--color-secondary),
  'warning': var(--color-warning),
  'info': var(--color-info),
  'success': var(--color-success),
  'danger': var(--color-danger),
  'black': var(--color-black),
  'white': var(--color-white),
  'text-primary': var(--color-text-primary)
);

$button-colors: (
  'primary': var(--color-primary),
  'secondary': var(--color-secondary),
  'warning': var(--color-warning),
  'info': var(--color-info),
  'success': var(--color-success),
  'danger': var(--color-danger),
);

$font-weights: (
  'thin': var(--font-weight-thin),
  'light': var(--font-weight-light),
  'normal': var(--font-weight-normal),
  'medium': var(--font-weight-medium),
  'semibold': var(--font-weight-semibold),
  'bold': var(--font-weight-bold),
  'extrabold': var(--font-weight-extrabold),
  'black': var(--font-weight-black)
);

$text-aligns: (left, right, center, justify, initial, inherit);

$typography-variants: (
  'body': (
    'font-size': var(--font-size-base),
    'font-weight': var(--font-weight-normal)
  ),
  'h1': (
    'font-size': var(--font-size-h1),
    'font-weight': var(--font-weight-bold)
  ),
  'h2': (
    'font-size': var(--font-size-h2),
    'font-weight': var(--font-weight-bold)
  ),
  'h3': (
    'font-size': var(--font-size-h3),
    'font-weight': var(--font-weight-bold)
  ),
  'h4': (
    'font-size': var(--font-size-h4),
    'font-weight': var(--font-weight-bold)
  ),
  'h5': (
    'font-size': var(--font-size-h5),
    'font-weight': var(--font-weight-bold)
  ),
  'h6': (
    'font-size': var(--font-size-h6),
    'font-weight': var(--font-weight-bold)
  ),
);

$space-map: (
  0: var(--space-0),
  1: var(--space-1),
  2: var(--space-2),
  3: var(--space-3),
  4: var(--space-4),
  5: var(--space-5),
  6: var(--space-6),
  7: var(--space-7),
  8: var(--space-8),
  9: var(--space-9),
  10: var(--space-10),
)
